<div *ngIf="!isLoading">
  <div *ngIf="orders && orders.length > 0; else noOrders">
    <div *ngFor="let order of orders" class="mb-4">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            Order Tracking Number: {{ order.orderTrackingNumber }}
          </h2>
        </div>
        <div class="card-body">
          <p class="mb-1">
            <strong>Date Created:</strong>
            {{ order.dateCreated | date : "short" }}
          </p>
          <p class="mb-1">
            <strong>Total Price:</strong> {{ order.totalPrice | currency }}
          </p>
          <p class="mb-1">
            <strong>Order Item Quantity:</strong> {{ order.orderItemQuantity }}
          </p>
          <p class="mb-1"><strong>Address:</strong> {{ order.address }}</p>
          <p class="mb-1"><strong>Status:</strong> {{ order.status }}</p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noOrders>
    <div class="alert alert-warning" role="alert">No orders found.</div>
  </ng-template>
</div>