<h1 class="main-title">{{ categoryName }}</h1>

<div class="row products-grid">
  <div
    class="col-sm-12 col-md-6 col-lg-4 product-container"
    *ngFor="let tempProduct of products"
  >
    <div class="card">
      <div class="card-body">
        <a routerLink="/products/{{ tempProduct.id }}">
          <img
            src="{{ tempProduct.imageUrl }}"
            class="card-img-top"
            alt="..."
          />
        </a>
        <h5 class="card-title">{{ tempProduct.name }}</h5>
        <p class="card-text">{{ tempProduct.unitPrice | currency : "EUR" }}</p>
        <div class="d-flex justify-content-between">
          <a href="#" class="btn btn-primary">Add to Cart</a>
          <a routerLink="/products/{{tempProduct.id}}" class="btn btn-info">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-paginator [length]="totalProducts"
               [pageSize]="pageSize"
               [pageSizeOptions]="[3, 5, 10, 15 ]"
               (page)="handlePage($event)">
</mat-paginator>

<div *ngIf=" !isLoading && products.length === 0" class="alert alert-warning" role="alert">No products found.</div>
